#addVehiculeBar{
  display: none;
}
.addVehicule{
  cursor: pointer;
}

th{
  min-width: 200px;
}

main{
  margin-top: 100px;
}


body, html {
  width: 100%;
}

img{
  height: 100%;
  width: 100%;
}

/*
** START!
*/


/*1*/
header{
  height: 70px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px grey;
}
h1{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  padding: 10px;
  text-align: right;
  line-height: 16px;
  font-family: Pacifico;
}
h1 span{
  font-size: 15px;
}

.one , .two , .three, .foor,.foor::after, .five, .six, .seven ,.height,.menu{
  position: absolute;
}
/*1*/
.one{
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-color: #142D31;
}
/*2*/
.two{
  right: 70px;
  top: 0;
  height: 70px;
  width: 100vw;
  background-color: #C2272D;
}
/*menu*/
.menu{
  top: 15px;
  right: 40px;
}
.menu li{
  list-style-type: none;
  color: white;
}
.menu li a{
  color: white;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  font-family: 'Contrail One', cursive;
}
.menu li:hover{
  list-style-type:  circle;
}
/*3*/
.three{
  z-index: 10;
  right: 90px;
  top: 15px;
  height: 0;
  width: 0;
  border-bottom: 55px solid #8B0E0E;
  border-right: 40px solid transparent;
  transition: 0.4s;
}
/*4*/
.foor{
  z-index: 10;
  right: 130px;
  top: 15px;
  height: 0;
  width: 0;
  border-top: 55px solid #8B0E0E;
  border-left: 40px solid transparent;
  transition: 0.4s;
}
.foor::after{
  content: "Menu";
  left: -25px;
  top: -40px;
  transform: rotate(55deg);
  color: white;
  font-family: Pacifico;
  font-size: 20px;
}
/*5*/
.five{
  z-index: 9;
  height: 55px;
  width: 100vw;
  right: 130px;
  top: 15px;
  background-image: url("../img/bgVehicule.jpg");
  background-position: right;
  background-size: cover;
  transition: 0.4s;
}
/*six*/
.six{
  top: 0;
  right: 70px;
  height: 0;
  width: 0;
  border-top: 70px solid #142D31;
  border-left: 50px solid transparent;
}
/*seven*/
.seven{
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  background-color: white;
}
/*height*/
.height{
  right: 55px;
  top: 0px;
  height: 0;
  width: 0;
  border-top: 55px solid white;
  border-left: 40px solid transparent;t;
}
header:hover .three {
  right: 210px;
}
header:hover .foor {
  right: 250px;

}
header:hover .five{
  right: 250px;

}
polygon{
  z-index: 10;
  position: absolute;
}
